<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493165548306-8skjr7ic80uj37d2b621uojjodvspa08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493165548306-8skjr7ic80uj37d2b621uojjodvspa08</string>
	<key>API_KEY</key>
	<string>AIzaSyA3IvRwZfK_bgekgCp2tjUynvBKgzGU2So</string>
	<key>GCM_SENDER_ID</key>
	<string>493165548306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-1cbd5</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-1cbd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493165548306:ios:ab2a7a247a675ad8e519cb</string>
</dict>
</plist>